<div class="container">
  <article class="audio-cover">
    <div>
      <img class="image" src="{{ songs[currentSongIndex].image }}" alt="{{ songs[currentSongIndex].title }}">
    </div>
    <div class="audio-info">
      <h3>{{ songs[currentSongIndex].title }}</h3>
      <p>{{ songs[currentSongIndex].artist }} - {{ songs[currentSongIndex].album }}</p>
    </div>
    <div class="audio-controls">
      <button (click)="previousSong()"><i class="fa fa-step-backward"></i></button>
      <button (click)="togglePlayPause()"><i class="fa"
          [ngClass]="{'fa-pause': isPlaying, 'fa-play': !isPlaying}"></i></button>
      <button (click)="nextSong()"><i class="fa fa-step-forward"></i></button>
    </div>
  </article>

  <section class="lyrics-container">
    <h1>Lyrics</h1>
    <p class="lyrics">{{ songs[currentSongIndex].lyrics}}</p>
  </section>
</div>