<div class="player-container" *ngIf="currentSong">
  <div
    class="fixed top-0 right-0 z-10 w-2/4 h-screen overflow-y-auto text-white transition-all shadow-lg lg:w-1/4 lyrics bg-zinc-900">
    <p class="text-center whitespace-pre-wrap">
      {{currentSong.lyrics}}
    </p>
  </div>
  <img class="album-image" [src]="currentSong.image" alt="Album cover">
  <h2 class="song-title">{{ currentSong.title }}</h2>
  <p class="artist-name">{{ currentSong.artist }} - {{ currentSong.album }}</p>
  <button class="pause-button" *ngIf="isPlaying" (click)="pause()">Pause</button>
  <button class="play-button" *ngIf="!isPlaying" (click)="play(currentSong)">Play</button>
</div>

<ul class="song-list">
  <li *ngFor="let song of songs" (click)="play(song)">
    {{ song.title }} - {{ song.artist }}
  </li>
</ul>